*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: #194264;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.macbook-air {
  background-color: #eaf6ff;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #194264;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  width: 100%;
  height: 120px;
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .rrat {
  height: 70px;
  margin-left: 20px;
}

.export-button {
  width: auto;
  align-items: flex-start;
  background-color: #194264;
  border-color: #194264;
  border-width: 0;
  margin-left: 700px;
}

.tabs {
  background-color: #194264;
  align-items: center;
  padding: 1px 0 0 0;
  width: 100%;
  height: 70px;
  display: flex;
  color: #eaf6ff;
  position: relative;
}

.tab {
  height: 100%;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  background-color: #194264;
  border: none;
  color: #eaf6ff;
  font-weight: 600;
  margin-bottom: 0px;
}

.tab.active {
  font-size: 20px;
  background-color: #eaf6ff;
  color: #194264;
  font-weight: 600;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.content {
  display: flex;
  height: calc(100% - 190px);
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.domains-container {
  flex: 1;
  overflow-y: scroll;
  padding-right: 30px; /* Increased right padding */
  padding-left: 30px;  /* Increased left padding */
  max-height: 100%;
}

.recommendations-container {
  flex: 1;
  padding: 20px;
  background-color: #eaf6ff;
  overflow-y: scroll;
}

.domain-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  color: #333;
}

.domain-name {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #194264;
}

.recommendations-list {
  list-style-type: disc;
  padding-left: 20px;
}

.recommendation-item {
  margin: 10px 0;
  font-size: 1.2em;
  color: #194264;
}

.circle {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.percentage {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  color: #d9534f;
}

.progress-circle {
  transform: rotate(-90deg);
}

#progressCircle {
  transition: stroke-dashoffset 1s ease;
  stroke-linecap: round;
}

.progress-bar-container {
  width: 70%;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 20px 0; /* Increased margin between domains */
}

.progress-bar {
  height: 20px;
  border-radius: 30px;
  text-align: center;
  line-height: 20px;
  color: #eaf6ff;
  transition: width 1s ease;
}

.progress-bar.high-score {
  background-color: #16a085;
}

.progress-bar.medium-score {
  background-color: #fef160;
  color: black;
}

.progress-bar.low-score {
  background-color: #f22613;
}

.overall-score {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
}

.percentage {
  font-size: 36px;
  font-weight: bold;
  color: #194264;
}

.domains-container::-webkit-scrollbar {
  width: 15px;
}

.domains-container::-webkit-scrollbar-track {
  background: #d0e7ff;
  border-radius: 20px;
}

.domains-container::-webkit-scrollbar-thumb {
  background: #194264;
  border-radius: 10px;
  border: 2px solid #194264;
  min-height: 2px;
  max-height: 5px;
}

#recommendations-container::-webkit-scrollbar {
  width: 15px;
}

#recommendations-container::-webkit-scrollbar-thumb {
  background: #194264;
  border-radius: 10px;
  border: 2px solid #eaf6ff;
}

.question {
  margin-bottom: 10px;
}

.question p {
  margin: 5px;
}

.question p:first-child {
  font-size: 18px;
  font-weight: bold;
}

.question p:last-child {
  font-size: 16px;
}
