.password-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.password-popup ul {
    list-style-type: none;
    padding: 0;
}

.password-popup li {
    margin-bottom: 5px;
}

.password-popup .valid {
    color: green;
}

.password-popup .invalid {
    color: red;
}
